doctype html
html
	head
		title Nostlan v#{version}
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/jquery-ui-dist/jquery-ui.min.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/contro-ui/contro-ui.css')
		link(rel='stylesheet' type='text/css' href='./css/style.css')

	body
		#themeStyles
		#dialogs
			#loadDialog0 starting Nostlan v#{version}
			#loadDialog1
			#loadDialog2
		#languageMenu.menu.row-y
			h1.title0 Language Menu
		#donateMenu.menu.row-y
			p(style="font-style: italic;") Kali Drake and Brandon VanStratum
			.cui.opt0(name='verify') access premium features
			.cui.opt1(name='patreon') open Patreon page
			.cui.opt2(name='remind') remind me later
		#checkDonationMenu_1.menu.row-y
			h1.title0 Thank you!
			p.msg0
			#donorPassword.label-input.col-12
				img
				input
			.cui.opt0(name='continue') verify password
			.cui.opt1(name='b') I don't support Nostlan yet
		#welcomeMenu.menu.row-y
			h1.title0 Thanks for installing Nostlan!
			.cui.opt0(name='full') start setup
		#setupMenu_1.menu.row-y
			.cui.opt0(name='newDefaultInstall') install at ~/Documents/emu
			.cui.opt1(name='newInstall') choose install location
			.cui.opt2(name='finishSetup') finish setup
		#pauseMenu_10.menu.row-y
			h1.title0 Emulation Paused
			.cui.col(name='unpause')
				i.material-icons.md-left play_arrow
				.text.opt0 unpause emulation
				i.material-icons.md-right.invis play_arrow
			.cui.col(name='loadState')
				i.material-icons.md-left system_update_alt
				.text.opt1 load state
				i.material-icons.md-right.invis system_update_alt
			.cui.col(name='saveState')
				i.material-icons.md-left save
				.text.opt2 save state
				i.material-icons.md-right.invis save
			.cui.col(name='mute')
				i.material-icons.md-left volume_up
				.text.opt4 mute
				i.material-icons.md-right.invis volume_up
			.cui.col(name='stop')
				i.material-icons.md-left stop
				.text.opt3 stop emulation
				i.material-icons.md-right.invis stop
		#saveStateMenu_11.menu.row-y
			h1.title0 Save State to Slot
			.cui.col.left(name='slot0') 0
			.cui.col.left(name='slot1') 1
			.cui.col.left(name='slot2') 2
			.cui.col.left(name='slot3') 3
			.cui.col.left(name='slot4') 4
			.cui.col.left(name='slot5') 5
			.cui.col.left(name='slot6') 6
			.cui.col.left(name='slot7') 7
			.cui.col.left(name='slot8') 8
			.cui.col.left(name='slot9') 9
		#loadStateMenu_11.menu.row-y
			h1.title0 Load State from Slot
			.cui.col.left(name='slot0') 0
			.cui.col.left(name='slot1') 1
			.cui.col.left(name='slot2') 2
			.cui.col.left(name='slot3') 3
			.cui.col.left(name='slot4') 4
			.cui.col.left(name='slot5') 5
			.cui.col.left(name='slot6') 6
			.cui.col.left(name='slot7') 7
			.cui.col.left(name='slot8') 8
			.cui.col.left(name='slot9') 9
		#themeMenu_13.menu.row-y
		#interfaceMenu_12.menu.row-y
			h1.title0 Change Appearance
			.cui(name='theme')
				i.material-icons.md-left brush
				.text.opt0 change theme
				i.material-icons.md-right.invis brush
			.cui(name='toggleCover')
				i.material-icons.md-left crop_free
				.text.opt1 hide overlay buttons
				i.material-icons.md-right.invis crop_free
			.cui(name='altReelsScrolling')
				i.material-icons.md-left import_export
				.text.opt2 alternating reels mode
				i.material-icons.md-right.invis import_export
		#controllerMenu_12.menu.menu-wide.row-y
			h1.title0 Controller Settings
			.row.row-x
				.cui.col(name='info')
					i.material-icons.md-left info
					.text.opt0 info
				.cui.col(name='rumble')
					i.material-icons.md-left vibration
					.text.opt1 rumble on/off
			.row.row-x
				.col
					h2 Xbox/PlayStation
					#prof0.cui(name='prof0') adaptive
				.col
					h2 Nintendo
					#prof1.cui(name='prof1') adaptive
				.col
					h2#prof2Lbl Other
					#prof2.cui(name='prof2') adaptive
			h3#controName
			h3#controType
		#controInfoMenu_13.menu.menu-wide.row-y
			.cui.opt0(name='b') back
		#nostlanMenu_10.menu.row-y
			h1.title0 Main Menu
			.row.row-x
				.cui.col(name='minimize')
					i.material-icons.md-left call_to_action
					.text.opt0 mini
				.cui.col(name='fullscreen')
					i.material-icons.md-left zoom_out_map
					.text.opt1 full
				.cui.col(name='quit')
					i.material-icons.md-left power_settings_new
					.text.opt2 quit
			.row.row-x
				.cui.col(name='gameLibMenu')
					i.material-icons.md-left disc_full
					.text.opt3 edit game library
					i.material-icons.md-right.invis disc_full
			.row.row-x
				.cui.col(name='syncBackup')
					i.material-icons.md-left cloud_upload
					.text.opt4 backup
				.cui.col(name='forceUpdate')
					i.material-icons.md-left cloud_download
					.text.opt5 sync
			.row.row-x
				.cui.col(name='patreon')
					i.material-icons.md-left favorite
					.text.opt6 patreon
				.cui.col(name='help')
					i.material-icons.md-left help
					.text.opt7 help
			.row.row-x
				.cui.col(name='settings')
					i.material-icons.md-left perm_data_setting
					.text.opt8 settings menu
					i.material-icons.md-right.invis perm_data_setting
		#gameLibMenu_11.menu.row-y
			h1.title0 Game Library Menu
			.cui(name='openGameLibs')
				i.material-icons.md-left folder
				.text.opt0 open folder
				i.material-icons.md-right.invis folder
			.cui(name='scanForGames')
				i.material-icons.md-left library_add
				.text.opt0 add new games
				i.material-icons.md-right.invis library_add
			.cui(name='rescanGameLib')
				i.material-icons.md-left fingerprint
				.text.opt5 rescan all games
				i.material-icons.md-right.invis fingerprint
			.cui(name='scanForImages')
				i.material-icons.md-left add_photo_alternate
				.text.opt2 scan for images
				i.material-icons.md-right.invis add_photo_alternate
		#gameLibInfoMenu_12.menu.menu-wide.row-y
			#gameLibInfoMenuBackLbl.cui(name='b') back
		#settingsMenu_11.menu.row-y
			h1.title0 Settings Menu
			.cui(name='editAppearance')
				i.material-icons.md-left view_comfy
				.text.opt0 change appearance
				i.material-icons.md-right.invis view_comfy
			.cui(name='controllerSettings')
				i.material-icons.md-left videogame_asset
				.text.opt1 controller settings
				i.material-icons.md-right.invis videogame_asset
			.cui(name='languageMenu')
				i.material-icons.md-left translate
				.text.opt4 language menu
				i.material-icons.md-right.invis translate
			.cui(name='toggleConsole')
				i.material-icons.md-left bug_report
				.text.opt2 show console
				i.material-icons.md-right.invis bug_report
			.cui(name='editPrefs')
				i.material-icons.md-left perm_data_setting
				.text.opt3 edit preferences
				i.material-icons.md-right.invis perm_data_setting
		#sysMenu_5.menu.container.row-y
		#playMenu_5.menu.row-y
		#emuMenu_5.menu.row-y
		#emuAppMenu_6.menu.row-y
			h1.title0 Emulator App Menu
			.cui(name='install')
				i.material-icons.md-left get_app
				.text.opt0 install
				i.material-icons.md-right.invis get_app
			.cui(name='find')
				i.material-icons.md-left wysiwyg
				.text.opt1 browse for
				i.material-icons.md-right.invis wysiwyg
		#emptyGameLibMenu_6.menu.row-y
			h1.title0 No games found
			p.msg1
		#addSavesPathMenu_2.menu.row-y
			input#saveName.col-12.form-control(placeholder="Name")
			input#saveNumOfBackups.col-12.form-control(placeholder="Backup History Amount")
			.cui.opt0(name='add') add
		#boxOpenMenu_2.row-x.no-outline
			img#gameBoxOpen.cui(name='b')
			.row-y
				img#gameManual.cui(name='manual')
				#gameWiki
			.row-y
				img#gameMemory.cui(name='memory')
				img#gameMedia.cui(name='media')
			img#gameBoxOpenMask
		#imgSearchMenu_4.menu.row-y
			.row.row-x
				.cui.col-11(name='selectImg')
					i.material-icons.md-left add_photo_alternate
					.text.opt0 Download Image
					i.material-icons.md-right.invis add_photo_alternate
				.cui.col(name='b')
					i.material-icons clear
		#imgSelectMenu_5.menu.row-y
		#libMain.main.reels.row-x
		nav.navbar.fixed-top.p-0
			button#nav0.navPanel.p-2.m-0: ul.nav.justify-content-left.m-0
				.nav0.text: span#nav0Lbl
				li.nav-item
					#nav0Btn.nav-link.triangle: span
			button#nav1.navPanel.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#nav1Btn Nostlan
		nav.navbar.fixed-bottom.p-0
			button#nav2.navPanel.p-2.m-0: ul.nav.justify-content-left.m-0
				.nav2.text: span#nav2Lbl
				li.nav-item
					#nav2Btn.nav-link.square: span
			button#nav3.navPanel.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#nav3Btn.nav-link.circle: span
				.nav3.text: span#nav3Lbl
		script.
			console.log('opening index.pug');
			console.log('#{node_modules}');
			require('./index.js')(JSON.parse('#{arg}'.replace(/&quot;/g, '"')));
