doctype html
html

head
link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='../css/style.css')
link(rel='stylesheet' type='text/css' href='../css/gameLibViewer.css')
title= title
body
  #dialogs
    #loadDialog0
    #loadDialog1
    #loadDialog2
  #donateMenu.menu
    .row-y
      .uie(name='donated') already donated
      .uie(name='donate-monthly') donate monthly
      .uie(name='donate-single') donate one-time
      .uie(name='donate-later') remind me later
  #checkDonationMenu.menu
    input#donorPassword.col-12.form-control(placeholder="donor password")
    .row-y
      .uie(name='continue') continue
      .uie(name='back') I haven't donated yet
  #welcomeMenu.menu
    .row-y
      .uie(name='full') setup full version
      .uie(name='demo') use demo mode
  #setupMenu.menu
    .row-y
      .uie(name='old') use existing WiiUSBHelper template
      .uie(name='new-in-docs') create new template in ~/Documents
      .uie(name='new') create new template
      .uie(name='continue') continue
  #pauseMenu.menu
    h1 Pause Menu
    .row-y
      .uie(name='back') back
      .uie(name='minimize') minimize
      .uie(name='fullscreen') fullscreen
      .uie(name='toggleCover') auto-hide cover overlay
      .uie(name='openLog') open error log
      .uie(name='prefs') edit preferences
      .uie(name='quit') quit
  #sysMenu.row-y.menu
    h1 Select System
  #libMain.row-x
nav.navbar.fixed-top.p-0
  .cover.power.p-2.m-0: ul.nav.justify-content-left.m-0
    .power.text Power
    li.nav-item
      button#power.powerBtn.nav-link.triangle: span
      //- img.logoNav(src='../img/logo.png')
  .cover.view.p-2.m-0: ul.nav.justify-content-right.m-0
    li.nav-item
      button#view Bottlenose
nav.navbar.fixed-bottom.p-0
  .cover.reset.p-2.m-0: ul.nav.justify-content-left.m-0
    .reset.text Reset
    li.nav-item
      button#reset.resetBtn.nav-link.square: span
      i#update.material-icons.md-light autorenew
  .cover.open.p-2.m-0: ul.nav.justify-content-right.m-0
    li.nav-item
      button#open.openBtn.nav-link.circle: span
    .open.text Open
script.
  console.log('opening index.pug');
  console.log('#{node_modules}');
  require('../js/index.js')({__rootDir:'#{__rootDir}'});
