doctype html
html
	head
		title Nostlan
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/contro-ui/dist/css/contro-ui.css')
		link(rel='stylesheet' type='text/css' href='../css/style.css')

	body
		#dialogs
			#loadDialog0
			#loadDialog1
			#loadDialog2
		#donateMenu.menu.row-y
			.uie(name='donated') already donated
			.uie(name='donate-monthly') support on Patreon
			.uie(name='donate-single') donate via Paypal
			.uie(name='donate-later') remind me later
		#checkDonationMenu.menu.row-y
			input#donorPassword.col-12.form-control(placeholder="donor password")
			.uie(name='continue') continue
			.uie(name='back') I haven't donated yet
		#welcomeMenu.menu.row-y
			.uie(name='full') setup full version
			.uie(name='demo') use demo mode
		#setupMenu.menu.row-y
			.uie(name='new-in-docs') install at ~/Documents/emu
			.uie(name='new') choose install location
			.uie(name='continue') finish setup
		#themeMenu.menu.row-y
			h1 Chance Appearance
			.uie(name='colors') default colors
			.uie(name='toggleCover') auto-hide cover overlay
		#pauseMenu.menu.row-y
			h1 Main Menu
			.uie(name='syncSaves')
				i.material-icons.md-left sync
				.text sync saves
				i.material-icons.md-right.invis sync
			.uie(name='editTheme')
				i.material-icons.md-left view_comfy
				.text edit appearance
				i.material-icons.md-right.invis view_comfy
			.uie(name='rescanLib')
				i.material-icons.md-left disc_full
				.text scan for games
				i.material-icons.md-right.invis disc_full
			.uie(name='recheckLib')
				i.material-icons.md-left add_photo_alternate
				.text scan for images
				i.material-icons.md-right.invis add_photo_alternate
			.uie(name='showConsoleLog') 
				i.material-icons.md-left bug_report
				.text show console
				i.material-icons.md-right.invis bug_report
			.uie(name='prefs')
				i.material-icons.md-left perm_data_setting
				.text edit preferences
				i.material-icons.md-right.invis perm_data_setting
		#sysMenu.menu.row-y
			h1 Select System
		#savesMenu.menu.row-y
			#saves
			.uie(name='continue')  
		#addSavesPathMenu.menu.row-y
			input#saveName.col-12.form-control(placeholder="Name")
			input#saveNumOfBackups.col-12.form-control(placeholder="Number of backups")
			.uie(name='add') add
		#infoSelect.row-x
			img#gameBoxOpen.uie(name='b')
			.row-y
				img#gameTexp.uie(name='texp')
				img#gameManual.uie(name='manual')
			.row-y
				img#gameMemory.uie(name='memory')
				img#gameMedia.uie(name='media')
			img#gameBoxOpenMask
		#libMain.main.row-x
		nav.navbar.fixed-top.p-0
			button#powerBtn.console.power.p-2.m-0: ul.nav.justify-content-left.m-0
				.power.text Power
				li.nav-item
					#power.nav-link.triangle: span
				//- img.logoNav(src='../img/logo.png')
			button#viewBtn.console.view.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#view Nostlan
		nav.navbar.fixed-bottom.p-0
			button#resetBtn.console.reset.p-2.m-0: ul.nav.justify-content-left.m-0
				.reset.text Reset
				li.nav-item
					#reset.nav-link.square: span
			button#openBtn.console.open.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#open.nav-link.circle: span
				.open.text Open
		script.
			console.log('opening index.pug');
			console.log('#{node_modules}');
			require('../js/index.js')(JSON.parse('#{arg}'.replace(/&quot;/g, '"')));
