doctype html
html

head
link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='../css/style.css')
link(rel='stylesheet' type='text/css' href='../css/gameLibViewer.css')
title= title
body
  #dialogs
    p#loadDialog0
    p#loadDialog1
  #gameLibViewer
nav.navbar.fixed-top.p-0
  .cover.power.p-2.m-0: ul.nav.justify-content-left
    .coverText Power
    li.nav-item
      button#power.powerBtn.nav-link
      //- img.logoNav(src='../img/logo.png')
  .cover.view.p-2.m-0: ul.nav.justify-content-right
    li.nav-item
      select#view
        option Bottlenose
nav.navbar.fixed-bottom.p-0
  .cover.reset.p-2.m-0: ul.nav.justify-content-left
    .coverText Reset
    li.nav-item
      button#reset.resetBtn.nav-link
      i#update.material-icons.md-light autorenew
  .cover.open.p-2.m-0: ul.nav.justify-content-right
    li.nav-item
      button#open.openBtn.nav-link
    .coverText Open
script.
  console.log('opening index.pug');
  console.log('#{node_modules}');
  require('../js/renderer.js')({__rootDir:'#{__rootDir}'});
