doctype html
html
	head
		title Nostlan
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/contro-ui/dist/css/contro-ui.css')
		link(rel='stylesheet' type='text/css' href='../css/style.css')

	body
		#themeStyles
		#dialogs
			#loadDialog0 starting Nostlan!
			#loadDialog1
			#loadDialog2
		#languageMenu.menu.row-y
			h1.title0 Language Menu
		#donateMenu.menu.row-y
			.uie.opt0(name='verify') access premium features
			.uie.opt1(name='patreon') open Patreon page
			.uie.opt2(name='remind') remind me later
		#checkDonationMenu_1.menu.row-y
			input#donorPassword.col-12.form-control(placeholder="patreon subscriber monthly password")
			.uie.opt0(name='continue') verify password
			.uie.opt1(name='b') I don't support Nostlan yet
		#welcomeMenu.menu.row-y
			h1.title0 Thanks for installing Nostlan!
			.uie.opt0(name='full') start setup
		#setupMenu_1.menu.row-y
			.uie.opt0(name='newDefaultInstall') install at ~/Documents/emu
			.uie.opt1(name='newInstall') choose install location
			.uie.opt2(name='finishSetup') finish setup
		#themeMenu_13.menu.row-y
		#interfaceMenu_12.menu.row-y
			h1.title0 Change Appearance
			.uie(name='theme')
				i.material-icons.md-left brush
				.text.opt0 change theme
				i.material-icons.md-right.invis brush
			.uie(name='toggleCover')
				i.material-icons.md-left crop_free
				.text.opt1 hide overlay buttons
				i.material-icons.md-right.invis crop_free
		#controllerMenu_12.menu.menu-wide.row-y
			h1.title0 Controller Settings
			.row.row-x
				.uie.col(name='info')
					i.material-icons.md-left info
					.text.opt0 info
				.uie.col(name='rumble')
					i.material-icons.md-left vibration
					.text.opt1 rumble on/off
			.row.row-x
				.col
					h2 Xbox/PlayStation
					#prof0.uie(name='prof0') adaptive
				.col
					h2 Nintendo
					#prof1.uie(name='prof1') adaptive
				.col
					h2#prof2Lbl Other
					#prof2.uie(name='prof2') adaptive
			h3#controName
			h3#controType
		#controInfoMenu_13.menu.menu-wide.row-y
			.uie.opt0(name='b') back
		#pauseMenu_10.menu.container.row-y
			h1.title0 Main Menu
			.row.row-x
				.uie.col(name='minimize')
					i.material-icons.md-left call_to_action
					.text.opt0 mini
				.uie.col(name='fullscreen')
					i.material-icons.md-left zoom_out_map
					.text.opt1 full
				.uie.col(name='quit')
					i.material-icons.md-left power_settings_new
					.text.opt2 quit
			.row.row-x
				.uie.col(name='gameLibMenu')
					i.material-icons.md-left disc_full
					.text.opt3 edit game library
					i.material-icons.md-right.invis disc_full
			.row.row-x
				.uie.col(name='syncBackup')
					i.material-icons.md-left cloud_upload
					.text.opt4 backup
				.uie.col(name='forceUpdate')
					i.material-icons.md-left cloud_download
					.text.opt5 sync
			.row.row-x
				.uie.col(name='patreon')
					i.material-icons.md-left favorite
					.text.opt6 patreon
				.uie.col(name='help')
					i.material-icons.md-left help
					.text.opt7 help
			.row.row-x
				.uie.col(name='settings')
					i.material-icons.md-left perm_data_setting
					.text.opt8 settings menu
					i.material-icons.md-right.invis perm_data_setting
		#gameLibMenu_11.menu.row-y
			h1.title0 Game Library Menu
			.uie(name='scanForGames')
				i.material-icons.md-left library_add
				.text.opt0 add new games
				i.material-icons.md-right.invis library_add
			.uie(name='identifyGames')
				i.material-icons.md-left fingerprint
				.text.opt1 identify games (coming soon)
				i.material-icons.md-right.invis fingerprint
			.uie(name='scanForImages')
				i.material-icons.md-left add_photo_alternate
				.text.opt2 auto-scan for images
				i.material-icons.md-right.invis add_photo_alternate
			.uie(name='imageSearch')
				i.material-icons.md-left image_search
				.text.opt3 search for images (coming soon)
				i.material-icons.md-right.invis image_search
			.uie.col(name='info')
				i.material-icons.md-left info
				.text.opt4 info
				i.material-icons.md-right.invis info
		#gameLibInfoMenu_12.menu.menu-wide.row-y
			#gameLibInfoMenuBackLbl.uie(name='b') back
		#settingsMenu_11.menu.row-y
			h1.title0 Settings Menu
			.uie(name='editAppearance')
				i.material-icons.md-left view_comfy
				.text.opt0 change appearance
				i.material-icons.md-right.invis view_comfy
			.uie(name='controllerSettings')
				i.material-icons.md-left videogame_asset
				.text.opt1 controller settings
				i.material-icons.md-right.invis videogame_asset
			.uie(name='languageMenu')
				i.material-icons.md-left translate
				.text.opt4 language menu
				i.material-icons.md-right.invis translate
			.uie(name='toggleConsole')
				i.material-icons.md-left bug_report
				.text.opt2 show console
				i.material-icons.md-right.invis bug_report
			.uie(name='editPrefs')
				i.material-icons.md-left perm_data_setting
				.text.opt3 edit preferences
				i.material-icons.md-right.invis perm_data_setting
		#sysMenu_5.menu.container.row-y
		#playMenu_5.menu.row-y
		#emuMenu_5.menu.row-y
		#emuAppMenu_6.menu.row-y
			h1.title0 Emulator App Menu
			.uie(name='install')
				i.material-icons.md-left get_app
				.text.opt0 install
				i.material-icons.md-right.invis get_app
			.uie(name='find')
				i.material-icons.md-left wysiwyg
				.text.opt1 browse for
				i.material-icons.md-right.invis wysiwyg
		#emptyGameLibMenu_5.menu.row-y
			h1.title0 No games found
			p.msg1
			.uie(name='find')
				i.material-icons.md-left wysiwyg
				.text.opt0 browse for games folder
				i.material-icons.md-right.invis wysiwyg
			.uie(name='install')
				i.material-icons.md-left get_app
				.text.opt1 install
				i.material-icons.md-right.invis get_app
		#addSavesPathMenu_2.menu.row-y
			input#saveName.col-12.form-control(placeholder="Name")
			input#saveNumOfBackups.col-12.form-control(placeholder="Backup History Amount")
			.uie.opt0(name='add') add
		#boxOpenMenu_2.row-x.no-outline
			img#gameBoxOpen.uie(name='b')
			.row-y
				img#gameManual.uie(name='manual')
				#gameWiki
			.row-y
				img#gameMemory.uie(name='memory')
				img#gameMedia.uie(name='media')
			img#gameBoxOpenMask
		#libMain.main.row-x
		nav.navbar.fixed-top.p-0
			button#nav0.navPanel.p-2.m-0: ul.nav.justify-content-left.m-0
				.nav0.text: span#nav0Lbl
				li.nav-item
					#nav0Btn.nav-link.triangle: span
			button#nav1.navPanel.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#nav1Btn Nostlan
		nav.navbar.fixed-bottom.p-0
			button#nav2.navPanel.p-2.m-0: ul.nav.justify-content-left.m-0
				.nav2.text: span#nav2Lbl
				li.nav-item
					#nav2Btn.nav-link.square: span
			button#nav3.navPanel.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#nav3Btn.nav-link.circle: span
				.nav3.text: span#nav3Lbl
		script.
			console.log('opening index.pug');
			console.log('#{node_modules}');
			require('../js/index.js')(JSON.parse('#{arg}'.replace(/&quot;/g, '"')));
