doctype html
html
	head
		title Nostlan
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/contro-ui/dist/css/contro-ui.css')
		link(rel='stylesheet' type='text/css' href='../css/style.css')

	body
		#themeStyles
		#dialogs
			#loadDialog0 starting Nostlan!
			#loadDialog1
			#loadDialog2
		#donateMenu.menu.row-y
			.uie(name='donated') access premium features
			.uie(name='donate-monthly') open Patreon page
			.uie(name='donate-later') remind me later
		#checkDonationMenu_1.menu.row-y
			input#donorPassword.col-12.form-control(placeholder="patreon subscriber monthly password")
			.uie(name='continue') verify password
			.uie(name='b') I don't support Nostlan yet
		#welcomeMenu.menu.row-y
			h1 Thanks for installing Nostlan!
			.uie(name='full') start setup
		#setupMenu_1.menu.row-y
			.uie(name='new-in-docs') install at ~/Documents/emu
			.uie(name='new') choose install location
			.uie(name='continue') finish setup
		#themeMenu_13.menu.row-y
		#interfaceMenu_12.menu.row-y
			h1 Change Appearance
			.uie(name='theme')
				i.material-icons.md-left brush
				.text change theme
				i.material-icons.md-right.invis brush
			.uie(name='toggleCover')
				i.material-icons.md-left crop_free
				.text hide overlay buttons
				i.material-icons.md-right.invis crop_free
		#controllerMenu_12.menu.menu-wide.row-y
			h1 Controller Settings
			.row.row-x
				.uie.col(name='info')
					i.material-icons.md-left info
					.text info
				.uie.col(name='rumble')
					i.material-icons.md-left vibration
					.text rumble on/off
			.row.row-x
				.col
					h2 Xbox/PS
					#prof0.uie(name='prof0') adaptive
				.col
					h2 Nintendo
					#prof1.uie(name='prof1') adaptive
				.col
					h2 Other
					#prof2.uie(name='prof2') adaptive
			h3#controName
			h3#controType
		#controInfoMenu_13.menu.menu-wide.row-y
			.uie(name='b') back
		#pauseMenu_10.menu.container.row-y
			h1 Main Menu
			.row.row-x
				.uie.col(name='minimize')
					i.material-icons.md-left call_to_action
					.text mini
				.uie.col(name='fullscreen')
					i.material-icons.md-left zoom_out_map
					.text full
				.uie.col(name='quit')
					i.material-icons.md-left eject
					.text quit
			.row.row-x
				.uie.col(name='gameLibMenu')
					i.material-icons.md-left disc_full
					.text edit game library
			.row.row-x
				.uie.col(name='syncBackup')
					i.material-icons.md-left cloud_upload
					.text backup
				.uie.col(name='forceUpdate')
					i.material-icons.md-left cloud_download
					.text sync
			.row.row-x
				.uie.col(name='patreon')
					i.material-icons.md-left favorite
					.text patreon
				.uie.col(name='help')
					i.material-icons.md-left help
					.text help
			.row.row-x
				.uie.col(name='settings')
					i.material-icons.md-left perm_data_setting
					.text settings menu
					i.material-icons.md-right.invis perm_data_setting
		#gameLibMenu_11.menu.row-y
			h1 Game Library Menu
			.uie(name='scanForGames')
				i.material-icons.md-left library_add
				.text add new games
				i.material-icons.md-right.invis library_add
			.uie(name='identifyGames')
				i.material-icons.md-left fingerprint
				.text identify games (coming soon)
				i.material-icons.md-right.invis fingerprint
			.uie(name='scanForImages')
				i.material-icons.md-left add_photo_alternate
				.text auto-scan for images
				i.material-icons.md-right.invis add_photo_alternate
			.uie(name='imageSearch')
				i.material-icons.md-left image_search
				.text search for images (coming soon)
				i.material-icons.md-right.invis image_search
			.uie.col(name='info')
				i.material-icons.md-left info
				.text info
				i.material-icons.md-right.invis info
		#gameLibInfoMenu_12.menu.menu-wide.row-y
			.uie(name='b') back
		#settingsMenu_11.menu.row-y
			h1 Settings Menu
			.uie(name='editAppearance')
				i.material-icons.md-left view_comfy
				.text change appearance
				i.material-icons.md-right.invis view_comfy
			.uie(name='controllerSettings')
				i.material-icons.md-left videogame_asset
				.text controller settings
				i.material-icons.md-right.invis videogame_asset
			.uie(name='showConsole') 
				i.material-icons.md-left bug_report
				.text show console
				i.material-icons.md-right.invis bug_report
			.uie(name='editPrefs')
				i.material-icons.md-left perm_data_setting
				.text edit preferences
				i.material-icons.md-right.invis perm_data_setting
		#sysMenu_5.menu.container.row-y
		#playMenu_5.menu.row-y
		#emuMenu_5.menu.row-y
		#addSavesPathMenu_2.menu.row-y
			input#saveName.col-12.form-control(placeholder="Name")
			input#saveNumOfBackups.col-12.form-control(placeholder="Backup History Amount")
			.uie(name='add') add
		#boxOpenMenu_2.row-x.no-outline
			img#gameBoxOpen.uie(name='b')
			.row-y
				img#gameManual.uie(name='manual')
				#gameWiki
			.row-y
				img#gameMemory.uie(name='memory')
				img#gameMedia.uie(name='media')
			img#gameBoxOpenMask
		#libMain.main.row-x
		nav.navbar.fixed-top.p-0
			button#nav0.navPanel.p-2.m-0: ul.nav.justify-content-left.m-0
				.nav0.text
				li.nav-item
					#nav0Btn.nav-link.triangle: span
			button#nav1.navPanel.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#nav1Btn Nostlan
		nav.navbar.fixed-bottom.p-0
			button#nav2.navPanel.p-2.m-0: ul.nav.justify-content-left.m-0
				.nav2.text
				li.nav-item
					#nav2Btn.nav-link.square: span
			button#nav3.navPanel.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#nav3Btn.nav-link.circle: span
				.nav3.text
		script.
			console.log('opening index.pug');
			console.log('#{node_modules}');
			require('../js/index.js')(JSON.parse('#{arg}'.replace(/&quot;/g, '"')));
