doctype html
html
	head
		title Nostlan
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href=node_modules + '/contro-ui/dist/css/contro-ui.css')
		link(rel='stylesheet' type='text/css' href='../css/style.css')

	body
		#themeStyles
		#dialogs
			#loadDialog0
			#loadDialog1
			#loadDialog2
		#donateMenu.menu.row-y
			.uie(name='donated') access premium features
			.uie(name='donate-monthly') open Patreon page
			.uie(name='donate-later') remind me later
		#checkDonationMenu_1.menu.row-y
			input#donorPassword.col-12.form-control(placeholder="donor password")
			.uie(name='continue') verify password
			.uie(name='back') I haven't donated yet
		#welcomeMenu.menu.row-y
			h1 Thanks for installing Nostlan!
			.uie(name='full') start setup
		#setupMenu_1.menu.row-y
			.uie(name='new-in-docs') install at ~/Documents/emu
			.uie(name='new') choose install location
			.uie(name='continue') finish setup
		#interfaceMenu_11.menu.row-y
			h1 Change Appearance
			.uie(name='colors') default colors
			.uie(name='toggleCover') auto-hide cover overlay
		#pauseMenu_10.menu.row-y
			h1 Main Menu
			.uie(name='minimize')
				i.material-icons.md-left call_to_action
				.text minimize
				i.material-icons.md-right.invis call_to_action
			.uie(name='syncBackup')
				i.material-icons.md-left cloud_upload
				.text backup saves
				i.material-icons.md-right.invis cloud_upload
			.uie(name='forceUpdate')
				i.material-icons.md-left cloud_download
				.text update saves
				i.material-icons.md-right.invis cloud_download
			.uie(name='editAppearance')
				i.material-icons.md-left view_comfy
				.text edit appearance
				i.material-icons.md-right.invis view_comfy
			.uie(name='scanForGames')
				i.material-icons.md-left disc_full
				.text scan for games
				i.material-icons.md-right.invis disc_full
			.uie(name='scanForImages')
				i.material-icons.md-left add_photo_alternate
				.text scan for images
				i.material-icons.md-right.invis add_photo_alternate
			.uie(name='showConsole') 
				i.material-icons.md-left bug_report
				.text show console
				i.material-icons.md-right.invis bug_report
			.uie(name='editPrefs')
				i.material-icons.md-left perm_data_setting
				.text edit preferences
				i.material-icons.md-right.invis perm_data_setting
			.uie(name='quit')
				i.material-icons.md-left eject
				.text quit
				i.material-icons.md-right.invis eject
		#sysMenu_5.menu.container.row-y
		#emuMenu_5.menu.row-y
		#addSavesPathMenu_2.menu.row-y
			input#saveName.col-12.form-control(placeholder="Name")
			input#saveNumOfBackups.col-12.form-control(placeholder="Number of backups")
			.uie(name='add') add
		#boxOpenMenu_2.row-x.no-outline
			img#gameBoxOpen.uie(name='b')
			.row-y
				img#gameTexp.uie(name='texp')
				img#gameManual.uie(name='manual')
			.row-y
				img#gameMemory.uie(name='memory')
				img#gameMedia.uie(name='media')
			img#gameBoxOpenMask
		#libMain.main.row-x
		nav.navbar.fixed-top.p-0
			button#powerBtn.console.power.p-2.m-0: ul.nav.justify-content-left.m-0
				.power.text
				li.nav-item
					#power.nav-link.triangle: span
				//- img.logoNav(src='../img/logo.png')
			button#viewBtn.console.view.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#view Nostlan
		nav.navbar.fixed-bottom.p-0
			button#resetBtn.console.reset.p-2.m-0: ul.nav.justify-content-left.m-0
				.reset.text
				li.nav-item
					#reset.nav-link.square: span
			button#openBtn.console.open.p-2.m-0: ul.nav.justify-content-right.m-0
				li.nav-item
					#open.nav-link.circle: span
				.open.text
		script.
			console.log('opening index.pug');
			console.log('#{node_modules}');
			require('../js/index.js')(JSON.parse('#{arg}'.replace(/&quot;/g, '"')));
